#background-shutdown {
    overflow-y: auto;
    z-index: 9;
    position: fixed;
    top: 120%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 193, 7,0.7);
    text-align: center;
    padding: 15% 20% 20% 20%;
    transition: top .7s;
}
